.navbar {
  display: flex;
  justify-content: right;
  gap: 15px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: row; /* Cambiar a dirección de columna en pantallas pequeñas */
    align-items: center;
    justify-content: center;   /* Alinea los elementos a la derecha en pantallas pequeñas */
  }
}

.links {
  text-decoration: none;
  color: rgb(8, 8, 8);
  position: relative;
  transition: color 0.3s ease;
  font-size: 1.225rem;
}


.links:hover {
  color: #eb452b;
}

.links::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #46b59b; 
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

.links:hover::after,
.links.active::after {
  width: 100%;
  left: 0;
}


.header-container{
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}


.h1-name, h1 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Hind', sans-serif;
  font-size: 6.5em;
  padding: 0;
  margin: 0;
  text-shadow: 3px 5px 0px #eb472e, 
                  6px 8px 0px #f0a133,
                  9px 11px 0px #45b59b, 
                  12px 15px 0px #017e7f;
  color:rgb(231, 231, 231);
                }


@media only screen and (max-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .h1-name, h1 {
    font-size: 3.5em;
  }
}


.about-me{
  display: flex;
  margin: 0;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .about-me{
    display: flex;
    flex-direction: column;
  }
}


.profile-picture-container{
  width: 50%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .profile-picture-container{
   width: 100%;
   height: auto;
  }
}


.profile-picture{
  height: 80%;
  width: 80%;
}

.card-about-me{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  }

  @media only screen and (max-width: 600px) {
    .card-about-me{
     width: 100%;
     height: auto;
    }
  }
  
              

.h3-title{
  font-size: 3.5rem;
  color: rgb(246, 245, 244);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
  padding-top: 30px;
}

.p-about-me{
  font-size: 2.5em;
  text-align:left;
  margin: auto 0;
  padding: 50px;
}


@media only screen and (max-width: 600px) {
  .p-about-me{
    font-size: 1.5em;
    height: 50%;
  }
}

/* SlideShow.css */
.main-container-slide{
  height: 700px;
  border: 1px solid black;
}


.slideshow-container {
  height: 750px;
  border: 1px solid black;
  position: relative;
  display: grid;
  grid-template-columns: repeat(
  auto-fill,  
  minmax(400px, 1fr)
  );
  gap: 2px;
  max-width: 1500px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.slide {
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.slide-img {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(240, 161, 51, 0.7),  -5px -5px 10px 0px rgba(69, 181, 155, 0.5);;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  border: none;
  background: none;
  color: rgb(25, 25, 25);
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}


.contenedor{
  width: 100%;
  height: 600px;
  border: 1px solid black;
}



.clients-container{
 width: 100%;
 height: 400px;
 border: 1px solid black;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1.5em 0;
 column-gap: 20px;
}

.client-card{
  position: relative;
  background-color: rgb(164, 161, 161);
  flex: 0 0 400px;
  height: 250px;
  overflow: hidden;
  margin-left: 1.5rem;
  border-radius: 18px;
  box-shadow: 2px 4px 12px
              rgba(0,0,0,0.08);
}

.client-name{
  color: aliceblue;
}

.client-text{
  color: aliceblue;
}
